* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #f9f7f3;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.footer {
  background-color: #f9f7f3;
}

.btn-1 {
  background-color: #b4f461;
  height: 30px;
  width: 60px;

  border-radius: 5px;
  font-weight: bold;
}

.btn-2 {
  background-color: #b4f461;
  font-weight: bold;
  height: 40px;
  width: 150px;
  border: 1px solid rgb(206, 199, 199);
  border-radius: 10px;
}
.btn-3 {
  background-color: white;
  height: 40px;
  width: 150px;
  font-weight: bold;
  border: 1px solid rgb(206, 199, 199);
  border-radius: 10px;
}

.width-1 {
  width: 1480px;
}
